@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #e7ebef;
    --secondry-color: #f9fafb;
    --sm-text-color: #9aa3b5;
    --big-text-color: #7c91f1;
    --icon-color: #747b8d;
    --primary2-color: #f5f8fa;
}

h1 {
    font-family: "Lato", sans-serif;

}

.home {
    background: var(--primary-color);
    padding: 0px 60px 0px 80px;
    width: 100%;
    /* height: 95vh; */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    position: relative;
}

.navigation .logo a {
    text-decoration: none;
    color: var(--big-text-color);
    font-size: 21px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    text-transform: capitalize;
    list-style: none;
    padding: 12px 12px;
    position: relative;
}

ul li a {
    color: var(--sm-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: var(--big-text-color);
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

.navigation ul.active {
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
    padding-left: 84px;
    /* background: #ebeef1; */
    background: #1a4875;
    width: 100%;
}

/* homesection style here  */

.home-container {
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
    padding-top: 78px;
    padding-bottom: 78px;
}

.text-sec {
    padding-top: 23px;
    margin-left: 23px;
    margin-right: 0px;
}

.text-sec h3 {
    line-height: 35px;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--icon-color);
}

.text-sec h3 span {
    display: flex;
}

.text-sec h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 48px;
    color: var(--big-text-color);
}

.text-sec p {
    font-size: 14px;
    color: var(--icon-color);
    line-height: 19px;
    padding: 20px 0px;
}

.btn-content {
    display: flex;
    align-items: center;
    gap: 23px;
    padding-top: 12px;
}

.btn {
    border: none;
    font-size: 9px;
    color: var(--icon-color);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11px 20px;
    background: #ebeef1;
    border-radius: 10px;
    box-shadow: 5px 5px 4px -1px rgba(14, 58, 92, 0.16),
        -5px -5px 4px -1px rgba(255, 255, 255, 0.70);
}

.btn-content .social {
    display: flex;
    gap: 12px;
    list-style: none;
}

.social li {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    background: #ebeef1;
    justify-content: center;
    box-shadow: 5px 5px 4px -1px rgba(14, 58, 92, 0.16),
        -5px -5px 4px -1px rgba(255, 255, 255, 0.70);
}

.img-sec {
    margin-right: 86px;
}

.img-sec figure {
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 50%;
    border: 8px solid #e9ebef;
    box-shadow: 5px 5px 4px -1px rgba(14, 58, 92, 0.16),
        -5px -5px 4px -1px rgba(255, 255, 255, 0.70);
}

.img-sec figure img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* blog section style here  */

.blog {
    background: var(--primary2-color);
    padding: 0px 80px 0px 60px;
    width: 100%;
    padding-bottom: 70px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 78px;
    padding-bottom: 60px;
}

.blog-container h1 {
    text-align: center;
    color: var(--big-text-color);
    font-size: 45px;
    line-height: 90px;
    font-weight: 600;

}

.blog-container p {
    text-align: center;
    width: 495px;
    font-size: 14px;
    margin: 0 auto;
    color: var(--icon-color);
}

.below-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 45px;
}

.card {
    width: 243px;
    height: 255px;
    background: #ebeef1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    line-height: 56px;
    padding: 0px 10px;
}

.card figure {
    padding-top: 10px;
    overflow: hidden;
    height: 147px;
    width: 224px;
    /* margin-left: 14px; */
}

.card figure img {
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.card h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    padding-top: 12px;
    color: var(--big-text-color);
}

.card h3 {
    font-size: 11px;
    color: var(--icon-color);
    display: flex;
    font-weight: 400;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    line-height: 56px;
}

.card h3 span {
    display: flex;
    border-radius: 50%;
    width: 18px;
    background: #e7e7e7;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    overflow: hidden;
}

/* about section style here  */

.about {
    background: var(--primary-color);
    width: 100%;
    height: 115vh;
    padding-top: 100px;
}

.about-container {
    padding-bottom: 78px;
    padding: 0px 80px 0px 60px;
    display: flex;
    gap: 2rem;
}

.img-sec {
    margin-left: 23px;
    margin-right: 0px;
    padding-top: 45px;
}


/* here work style  */

.work {
    background: var(--primary2-color);
    padding-top: 78px;
    padding-bottom: 78px;
}

.work-container {
    padding: 0px 101px;
}

.work .upper-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work .upper-side h1 {
    font-size: 45px;
    font-weight: 600;
    color: var(--big-text-color);
}

.work .upper-side p {
    font-size: 14px;
    color: var(--icon-color);
    line-height: 2rem;
}

.work .upper-side .button {
    display: flex;
    gap: 1.6rem;
    padding-top: 1rem;

}

.button .btn {
    color: var(--icon-color);
    cursor: pointer;
    font-size: 11px;
    border: none;
    padding: 12px 24px;
    background: #ebeef1;
    box-shadow: 5px 5px 4px -1px rgba(14, 58, 92, 0.16), -5px -5px 4px -1px rgba(255, 255, 255, 0.70);
    border-radius: 10px;
}

.inner-container {
    display: flex;
    gap: 2rem;
}

figure {
    height: 181px;
    width: 273.6px;
    overflow: hidden;
    border-radius: 11px;
    /* position: absolute; */
    position: relative;
}

.work .below-side figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: none;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
    background-color: #0a0909;
}

figure:hover .overlay {
    opacity: 0.7;
}

.img {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding-top: 45px;
}

.contact {
    padding: 78px 56px;
    background: var(--primary-color);
}

.contact-container {
    display: flex;
}

.contact-container h2 {
    font-size: 45px;
    font-weight: 600;
    color: var(--big-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-container {
    padding: 25px;
    height: 406px;
    width: 415px;
    display: flex;
    gap: 27px;
    flex-direction: column;
    background: #fff;
}

.contact .upper-content {
    text-align: center;
}

.contact .upper-content h1 {
    color: var(--sm-text-color);
}

/* .btn {
    display: none;
} */

/* .form-container{
    display: none;
}
.form-container.active{
    display: block;
} */


.contact-upper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-container .upper-content ion-icon {
    font-size: 66px;
    color: var(--icon-color);
}

.contact-upper-content h1 {
    font-size: 45px;
    font-weight: 500;
    color: var(--big-text-color);
}

.contact-upper-content h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--icon-color);
}

.contact-upper-content p {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: var(--icon-color);
}


.form-container {
    padding: 0 17px;
    background: #ebeef1;
    border-radius: 10px;
    box-shadow: 5px 5px 4px -1px rgba(14, 58, 92, 0.16), -5px -5px 4px -1px rgba(255, 255, 255, 0.70);
}

.contact-container {
    padding-top: 65px;
}

.right-side {
    padding-left: 56px;
}

.form-container label {
    color: var(--icon-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container label input {
    border: none;
    background: none;
    color: var(--icon-color);
    border-bottom: 1px solid var(--icon-color);
    width: 100%;
    outline: none;
}

.text-input {
    display: flex;
    gap: 26px;
    position: relative;
}


.form-container label::after {
    content: attr(placeholder);
    position: absolute;
    left: 12px;
    top: 100%;
    font-size: 14px;
    color: #f27d7d;
    transition: all 0.3s ease;
}

.form-container label input:focus+ ::after,
.form-container label input:not(:placeholder-shown)+ ::after {
    top: calc(100% + 5px);
    font-size: 12px;
    color: #555;
}

.left-side {
    display: flex;
    /* align-items: center; */
}

.icon-content {
    display: flex;
    gap: 1rem;
    padding: 12px 0px;
}

.icon-content li {
    list-style: none;
    display: flex;
    align-items: center;
}

.icon-content h1 {
    color: var(--icon-color);
    font-size: 24px;
    font-weight: 500;
}

.icon-content h3 {
    color: var(--sm-text-color);
    font-size: 14px;
    font-weight: 300;
}

.map {
    width: 90%;
    margin: auto;
}

/* portfolio style here  */


.portfolio {
    padding-top: 78px;
    padding-bottom: 100px;

}

.portfolio .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio .content h1 {
    color: var(--big-text-color);
    font-size: 45px;
    font-weight: 500;
    line-height: 5rem;
}

.portfolio .content p {
    color: var(--sm-text-color);
    font-size: 14px;
    font-weight: 300;
}

.portfolio-col {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.portfolio .card {
    display: flex;
    margin-top: 65px;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    height: 280px;
    width: 238px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #aeaaaa;
}

.portfolio-col .card .icon {
    padding-top: 16px;
}

.portfolio .content h2 {
    line-height: 3rem;
    font-size: 1.3rem;
}

.portfolio .content p {
    line-height: 18px;
    font-size: 0.7rem;
}

.right-side input,
textarea {
    width: 75%;
    padding: 12px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #ebeef1;
    resize: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    color: var(--icon-color);
}

/* testimonial design style here  */

.testimonial {
    padding-top: 78px;
    padding-bottom: 78px;
    background: var(--primary-color);
}

.testimonial-container {
    width: 100%;
    height: 80vh;
}

.testimonial-container .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}

.testimonial-container .content h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 4rem;
    color: var(--big-text-color);
}

.testimonial-container .content p {
    font-size: 0.9rem;
    color: var(--icon-color);

}

.card-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.testimonial-container .card {
    height: 230px;
    width: 305px;
    margin-top: 50px;
    padding: 0px 11px;
    box-shadow: 0 0 9px 1px #878383;
    border-radius: 0;
    border-bottom-right-radius: 45px;
}

.testimonial-container .card .icon {
    margin-left: 165px;
    color: orange;
}

.testimonial-container .card p {
    font-size: 0.6rem;
    line-height: 1.1rem;
    padding-bottom: 6px;
}

.testimonial-container .card figure {
    height: 60px;
    width: 60px;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
}

.testimonial-container .card figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.img-content {
    display: flex;
    gap: 1.3rem;
}

.img-content .content h1 {
    padding-top: 17px;
    font-size: 17px;
    line-height: 0.6rem;
    color: var(--icon-color);
    font-weight: 500;
}

.img-content .content h1 {
    padding-top: 17px;
    font-size: 17px;
    line-height: 0.6rem;
    color: var(--icon-color);
    font-weight: 500;
}

.img-content .content h2 {
    font-size: 11px;
    color: var(--icon-color);
    font-weight: 500;
    text-align: start;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 351.333px; */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/* footer design style  here/ */


.footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background: #f5f8fa;
}

.footer-container {
    display: flex;
    gap: 10rem;
    padding: 0px 30px;
}

.first {
    /* width: 400px; */
    padding-left: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first h1 {
    color: var(--big-text-color);
    line-height: 3rem;
    font-weight: 500;
    font-size: 26px;
}

.first p {
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 300;
    color: var(--icon-color);
}

.footer-container ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    gap: 0.3rem;
    align-items: center;
    text-transform: capitalize;
}

.social {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.line {
    width: 90%;
    margin: 0px 65px;
    padding-top: 31px;
    border-bottom: 1px solid var(--sm-text-color);
}

.copy-right {
    padding: 12px 63px;
}

.copy-right h1 {
    color: var(--icon-color);
    font-weight: 500;
    font-size: 14px;
    /* text-align: center; */
}

/* .menu{
    border: none;
    display: flex;
    background: none;
    display: none;

} */

.navigation svg {
    display: none;
}

ul {
    margin: 0;
}


@media(max-width:960px) {

    .right-side {
        padding-left: 0px;
    }

    .footer {
        padding: 60px 45px 40px 45px;
    }
}

@media(max-width:768px) {

    .navigation svg {
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        display: block;
        color: var(--icon-color);
    }


    .nav-links {
        position: fixed;
        background: #d2cdcc;
        height: 100vh;
        width: 230px;
        top: 0;
        right: -230px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .about-container {
        padding: 0px 40px 0px 40px;
        display: flex;
        gap: 3rem;
    }

    .img-sec figure {
        height: 260px;
        width: 260px;
    }

    .text-sec {
        padding-top: 23px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .contact-container {
        display: flex;
        gap: 1.5rem;   
    }
    .right-side input, textarea {
        width: 80%;
    }
    .navigation svg {
        display: block;
        font-size: 20px;
        margin: 12px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2.3rem;
    }

    .work-container {
        padding: 0px 53px;
    }

    .below-side {
        display: flex;
        flex-wrap: wrap;

    }

    .portfolio-container {
        padding: 0px 32px;
    }

    .swiper-slide {
        width: 425px;
    }

    .first {
        padding-left: 0;
    }

    .footer-container {
        display: flex;
        gap: 2rem;
        padding: 0px 30px;
    }

    .line {
        width: 95%;
        margin: 0px 20px;
    }

    .copy-right {
        padding: 12px 21px;
    }
    .about {
        background: var(--primary-color);
        width: 100%;
        height: 142vh;
        padding-top: 40px;
    }
    .img-sec {
        margin-left: 23px;
        margin-right: 0px;
        padding-top: 63px;
    }
}

@media(max-width:426px) {
    h1 {
        font-size: 35px !important;
    }

    .home-container {
        display: flex;
        gap: 2rem;
        padding-top: 0;
        flex-direction: column;
    }
    .about{
        padding-top: 0;
        height: 188vh;
    }

    .about-container {
        gap: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .portfolio-col {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .blog-container p {
        width: 300px;
    }

    .footer-container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    .footer-container ul {
        display: flex;
        flex-direction: row;

        gap: 1.3rem;

    }
    .img-content .content h1 {
       
        font-size: 17px !important;
    }
    .copy-right h1 {
        font-size: 14px !important;
    }
    .icon-content h1 {
        font-size: 24px !important;
    }
    .right-side input, textarea {
        width: 100%;
    }
    .contact-container {
        flex-direction: column-reverse;
    }
}
   

@media(max-width:376px){
    .home {
        padding: 0px 20px 0px 20px;      
    }
    .blog {
        padding: 0px 20px 0px 20px;
    }
    .about-container {
        gap: 1rem;
    }
    .work .upper-side .button {
        gap: 0.4rem;
    }
    .contact {
        padding: 51px 26px;
    }
    .about {
        padding-top: 0;
        height: 150vh;
    }
}